<li class="fields">
	<div class="dark-bg">
	<span>
		<%= f.hidden_field :exercise_id %>
		<span class="exercise-name"><%= f.object.exercise.name if f.object.exercise %></span>
	</span>
	<span class="right">
		<span class="border-field">
			<span><%= f.text_field :magnitude, :size => 3 %></span>
			<span class="magnitude-label">x</span>
		</span>
		<span class="border-field">
			<span><%= f.text_field :weight, :size => 3 %></span>
			<span class="weight-label">lbs</span>
		</span>
		<span><%= f.hidden_field :_destroy %></span>
	</span>
	</div>
</li>