<li class="fields"> 
	<span>
		<%= f.hidden_field :exercise_id %>
		<span class="exercise-name"><%= f.object.exercise.name if f.object.exercise %></span>
	</span>
	<span>
		<%= f.text_field :magnitude, :size => 4 %>
		<%= f.collection_select :measurement_unit_id, MeasurementUnit.all, :id, :name %>
	</span>
	<span>
		<%= f.label :weight %>
		<%= f.text_field :weight, :size => 4 %>
	</span>
	<span>
		<%= f.hidden_field :_destroy %>
	</span>
</li>