<h1>Listing Workouts</h1> 
<%= workout_subnav %>
<table>
<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.complete ? "Complete" : "Incomplete" %></td>
    <td><%= link_to workout.date, edit_workout_path(workout) %></td>
    <td>
    <% workout.muscle_groups.each do |mg| %>
    	<span><%= mg %></span>
    <% end %>
    </td>
    <td><%= link_to 'Destroy', workout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout', new_workout_path %>
