
<div class="border-header">
	<h1>Upcoming</h1>
	<span class="right">
		<%= link_to 'Schedule a Workout', new_workout_path, :class => "new-workout-button" %>
	</span>
</div>
<ul class="workouts std-list">
	<% if @upcoming_workouts.length > 0 %>
		<%= render :partial => "workout", :collection => @upcoming_workouts %>
	<% else %>
		<p>You have no upcoming workouts. <%= link_to "Schedule one!", new_workout_path %></p>
	<% end %>
</ul>


<div class="border-header">
	<h1>Log</h1>
	<span class="right">
		<%= link_to 'Record a Workout',{ :action => "new", :type => "log" }, :class => "new-workout-button" %>
	</span>
</div>
<ul class="workouts std-list">
	<% if @past_workouts.length > 0 %>
		<%= render :partial => "workout", :collection => @past_workouts %>
	<% else %>
		<p>Your past workouts will show up here.</p>
	<% end %>
</ul>
<br />