<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @muscle.name %>
</p>
<p>
  <b>Muscle Group:</b>
  <%= @muscle.muscle_group.name %>
</p>

<%= link_to 'Edit', edit_muscle_path(@muscle) %> |
<%= link_to 'Back', muscles_path %>
