<div class="border-header">
	<h1>Muscle Groups</h1>
</div>

<table>
<% @muscle_groups.each do |muscle_group| %>
  <tr>
    <td><%= muscle_group.name %></td>
    <td><%= link_to 'Show', muscle_group %></td>
    <td><%= link_to 'Edit', edit_muscle_group_path(muscle_group) %></td>
    <td><%= link_to 'Destroy', muscle_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Muscle group', new_muscle_group_path %>
