<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @muscle_group.name %>
</p>
<p>
	<b>Muscles</b>
	<ul>
		<% @muscle_group.muscles.each do |muscle| %>
			<li><%= link_to muscle.name, muscle %></li>
		<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_muscle_group_path(@muscle_group) %> |
<%= link_to 'Back', muscle_groups_path %>
