<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>
<p>
	<b>Muscles Groups:</b>
	<ul>
	<% @exercise.muscle_groups.each do |muscle_group| %>
		<li><%= muscle_group.name %></li>
	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
